body{
    background-color: #f5f5dc;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width:100%;
}
header{
    text-align: center;
}

nav{
    border: 4px solid #277da1;
    background-color: #fcf6bd;
    padding: 8px;
    transform: translateX(0px);
    text-align: center;
    width: 100%;
}
.contact{
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border:4px solid #277da1;
    border-radius: 10px;
    box-shadow: 0 4px 5px #277da1;
    width: 100%;
    background-color: 
    #fcf6bd;
text-decoration: underline;

}
a{
    color: #277da1;
    text-decoration: none;
    transition: color 0.3s;
}